<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143941870151-itfm44vcmf2ar5catv7jd1p9btqvk8qs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143941870151-itfm44vcmf2ar5catv7jd1p9btqvk8qs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>143941870151-qpfjo3sl48785is2qm5r6sf6mtjvrqqg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDPho2jO8lDnAmM0-lkNtsQURHZBix5Ci0</string>
	<key>GCM_SENDER_ID</key>
	<string>143941870151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mounika.appstore</string>
	<key>PROJECT_ID</key>
	<string>appstore-650b2</string>
	<key>STORAGE_BUCKET</key>
	<string>appstore-650b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143941870151:ios:135821ff290340d8d2c762</string>
</dict>
</plist>